<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{L_SITE_LINK_TXT}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>
			<font color="#005784">{L_SITE_LINK_TXT_EXPLAIN}</font><input type="text" value="{U_LINK}" class="post" style="width: 140px; " size="70" />
		</td>
	</tr>
	<tr><td align="center">{L_SITE_LINK_TXT_EXPLAIN2}</td></tr>
	<tr>
		<td align="center" class="row2">
			<a href="{LINK}">
            <img src="{LOGO}" border="0" width="88" height="31"></a>
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table> 