<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{TITRE}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>
<td bgcolor="{FOND}" align="center">
	<script language=javascript>
	var params_meteo="type_meteo=terrestre&langue=fr&fond={FOND}&texte={TEXTE}&saisie_meteo={METEO}";
	</script>
	<script language="JavaScript" src="http://www.meteodirect.com/md/vignette/meteo1.js"></script>
</td>
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table>  