<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{L_TELE}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>{L_TELE2}<br>
					<A HREF ="http://www.programme-tv.net/" TARGET="popup" onclick="window.open('','popup','width=800,height=600,left=50,top=25,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,status=no')">{L_TELE3}</A>
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table>  