<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">Php Infos</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>		
	<p align="left"><span class="gensmall">
		{L_OS_INFO}: <br>&nbsp;&#8226;&nbsp;<b>{OS_INFO}</b><br>
		{L_WEBSERVER_INFO}: <br>&nbsp;&#8226;&nbsp;<b>{WEBSERVER_INFO}</b><br>
		{L_PHP_INFO}:<br>&nbsp;&#8226;&nbsp;<b>{PHP_INFO}</b><br>
		{L_DATABASE_SERVER_INFO}:<br>&nbsp;&#8226;&nbsp;<b>{DATABASE_INFO}</b><br>
		{L_GZIP_COMPRESSION}:<br>&nbsp;&#8226;&nbsp;<b>{GZIP_COMPRESSION}</b></span>
					</td>
				</tr>					
			</table>
		</td>
</table>