<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%"colspan="2">{L_POPULAR}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>
					<span class="genmed2"><b>{L_POPULAR2}</b>
					</br><a href="{TOPIC}">{POST}</a>
					</br>{L_POPULAR3}&nbsp;<b>{NB}&nbsp;</b>{L_POPULAR4}
					</br>{L_POPULAR5}&nbsp;{REPLIES}&nbsp;{L_POPULAR6}</span></center></td>
            <td width="50%" class="row1"><center>
					<span class="genmed2"><b>{L_POPULAR_REP}</b>
					</br><a href="{TOPIC2}">{POST2}</a>
					</br>{L_POPULAR_REP2}&nbsp;<b>{REPLIES2}</b>&nbsp;{L_POPULAR_REP3}
					</br>{L_POPULAR_REP4}&nbsp;{NB2}&nbsp;{L_POPULAR_REP5}</span>
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table>