<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{L_CALENDRIER}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=4,0,2,0" id="clock" width="190" height="210">
  <param name="movie" value="{T_THEME_PATH}/images/calendrier/calendrier.swf">
  <param name="bgcolor" value="#ECECEC">
  <param name="quality" value="high">
  <param name="allowscriptaccess" value="samedomain">
  <param name="wmode" value="transparent">
  <embed type="application/x-shockwave-flash"pluginspage="http://www.macromedia.com/go/getflashplayer" width="190
" height="210" name="clock" src="{T_THEME_PATH}/images/calendrier/calendrier.swf" bgcolor="#ECECEC" quality="high" swLiveConnect="true" allowScriptAccess="samedomain"></embed>
</object>
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table> 