<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">Néocounter</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>

  <tr>
    <td class="row2" align="center">		           
Vous devez être inscrit
chez néocounter pour
pouvoir l’afficher dans
ce bloc.
Attention ce service
est payant.
Pour plus d’infos:
<a target="_blank" href="http://neocounter.neoworx-blog-tools.net">
<img border="0" src="http://sjpphpbb.net/phpbb3/images/logo_sites/neo.gif"></a>
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table>  