<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{L_PORTAL_NAV}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">
			<!-- BEGIN portal_menu_row -->				
				<tr>
					<td>				
						<span class="navmenu">&nbsp;<img src="./images/icon_menu/{portal_menu_row.PORTAL_MENU_ICON}" alt="" align="bottom" border="0" />
						&nbsp;<span class="genmed"><a href="{portal_menu_row.U_PORTAL_MENU_LINK}">&nbsp;{portal_menu_row.PORTAL_MENU_NAME}</a></span>					
					</td>
				</tr>
			<!-- END portal_menu_row -->
			<!-- IF not S_USER_LOGGED_IN -->			
				<tr>
					<td>				
						<span class="navmenu">&nbsp;<img src="images/icon_menu/menu_register.gif" alt="" align="bottom" border="0" />
						&nbsp;<span class="genmed"><a href="ucp.php?mode=register">&nbsp;Enregistrer vous ?</a></span>
					</td>
				</tr>			
			<!-- ENDIF -->
			<!-- IF U_ACP -->			
				<tr>
					<td>
					<span class="navmenu">&nbsp;<img src="images/icon_menu/menu_rang.gif" alt="" align="bottom" border="0" />
					&nbsp;&nbsp;<a href="{U_ACP}">{L_ACP_PORTAL}</a></span>
					</td>
				</tr>	
			<!-- ENDIF -->				
			</table>
		</td>
</table>    