<br />
<form action="portal.php" method="post">
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{L_BOARD_STYLE}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>
					<span class="genmed">{S_SELECT_STYLE}</span>
					<input type="hidden"  name="change" value="CHANGE" />
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table> 
</form> 					