<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">GEOLOC</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>				
					<script language="JavaScript" src="./compteur_geoloc/geoloc.php" ></script><noscript><a href='http://www.geo-loc.com'>GEOLOC</a></noscript>
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table>  