#SPGdbAJAX-button-getgalaxy {
    list-style-image: url("chrome://spgdbtoolajax/skin/getgalaxy.gif");
}

#SPGdbAJAX-button-getranking {
    list-style-image: url("chrome://spgdbtoolajax/skin/getranking.gif");
}

#SPGdbAJAX-button-options {
    list-style-image: url("chrome://spgdbtoolajax/skin/wrench_orange.png");
}

#SPGdbAJAX-button-getSpy {
    list-style-image: url("chrome://spgdbtoolajax/skin/page_white_magnify.png");
}

#SPGdbAJAX-button-log {
    list-style-image: url("chrome://spgdbtoolajax/skin/log.png");
}
