<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt>{L_POPULAR}</dt>
				</dl>
		</ul>
		<ul class="topiclist forums">
<table width="100%" cellpadding="0" cellspacing="0" border="0" >
		<td class="bg1">
        <table border="0" cellpadding="0" cellspacing="0"  width="100%">
        <tr>
        <td width="50%" class="bg1"><b>{L_POPULAR2}</b>
		</br><a href="{TOPIC}">{POST}</a>
		</br>{L_POPULAR3}&nbsp;<b>{NB}&nbsp;</b>{L_POPULAR4}
		</br>{L_POPULAR5}&nbsp;{REPLIES}&nbsp;{L_POPULAR6}</td>
         <td width="50%" class="bg2"><b>{L_POPULAR_REP}</b>
		</br><a href="{TOPIC2}">{POST2}</a>
		</br>{L_POPULAR_REP2}&nbsp;<b>{REPLIES2}</b>&nbsp;{L_POPULAR_REP3}
		</br>{L_POPULAR_REP4}&nbsp;{NB2}&nbsp;{L_POPULAR_REP5}</td>
          </tr>
        </table>
        </td>
	</tr>
</table>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>