<br>
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt><center>{SOW_TITRE}</center></dt>
				</dl>
		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">
<table class="tablebg" width="100%" height="100%" cellpadding="10" cellspacing="10" border="0" >
          <tr>
<!-- BEGIN show -->
    	<td class="row2" width="20%" height="100%" valign="top" align="center">
              <span >{show.IMAGE}<span class="gensmall"><br>{show.U_INFO}<hr>{show.TITRE}<br>{show.INFO3}</span></td>
<!-- END show -->
  </tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>