<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">

				<dl>
					<dt>{RECENT_LAST_BOT_TITRE}</dt>
				</dl>

		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
<td class="cat"></td>

	<td colspan="3" class="row1" width="100%" valign="middle">
	<!-- BEGIN bots_recent -->
<tr class="<!-- IF static.bots_recent.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">	
		<span class="gensmall">{static.bots_recent.BOT_NAME}</span>
		<br />
		<span class="gentiny">{static.bots_recent.BOTS_RECENT_VISIT_DATE}</span>
			<br />		
	<!-- END bots_recent -->				
		</td>	
</tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>