<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt>{HOROSCOPE_TITRE}</dt>
				</dl>
		</ul>
		<ul class="topiclist forums">
		
<table class="box" width="100%" cellpadding="3" cellspacing="2" border="0">
<td  align="center" class="bg1">
<A HREF ="./horoscope/belier.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/belier.gif" ALT="{L_ARIES}" title="{L_ARIES}" WIDTH=28 HEIGHT=26 ></A></td>

<td  align="center" class="bg2">
<A HREF ="./horoscope/taureau.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/taureau.gif" ALT="{L_TAURUS}" title="{L_TAURUS}" WIDTH=28 HEIGHT=26 ></A></td>

<td  align="center" class="bg1">
<A HREF ="./horoscope/gemeaux.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/gemeaux.gif" ALT="{L_GEMINI}" title="{L_GEMINI}" WIDTH=28 HEIGHT=26 ></A></td>

<td  align="center" class="bg2">
<A HREF ="./horoscope/cancer.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/cancer.gif" ALT="{L_CANCER}" title="{L_CANCER}" WIDTH=28 HEIGHT=26 ></A></td>

  </tr>
  <tr>

<td  align="center" class="bg2">
<A HREF ="./horoscope/lion.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/lion.gif" ALT="{L_LEO}" title="{L_LEO}" WIDTH=28 HEIGHT=26 ></A></td>

<td  align="center" class="bg1">
<A HREF ="./horoscope/vierge.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/vierge.gif" ALT="{L_VIRGO}" title="{L_VIRGO}" WIDTH=28 HEIGHT=26 ></A></td>

 <td  align="center" class="bg2">
<A HREF ="./horoscope/balance.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/balance.gif" ALT="{L_LIBRA}" title="{L_LIBRA}" WIDTH=28 HEIGHT=26 ></A></td>

<td  align="center" class="bg1">
<A HREF ="./horoscope/scorpion.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/scorpion.gif" ALT="{L_SCORPIO}" title="{L_SCORPIO}" WIDTH=28HEIGHT=26 ></A></td>

  </tr>

<td  align="center" class="bg1">
<A HREF ="./horoscope/sagittaire.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/sagittaire.gif" ALT="{L_SAGITTARIUS}" title="{L_SAGITTARIUS}" WIDTH=28 HEIGHT=26 ></A></td>

<td  align="center" class="bg2">
<A HREF ="./horoscope/capricorne.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/capricorne.gif" ALT="{L_CAPRICON}" title="{L_CAPRICON}" WIDTH=28 HEIGHT=26 ></A></td>

<td  align="center" class="bg1">
<A HREF ="./horoscope/verseau.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/verseau.gif" ALT="{L_AQUARIUS}" title="{L_AQUARIUS}" WIDTH=28 HEIGHT=26 ></A></td>

<td  align="center" class="bg2">
<A HREF ="./horoscope/poissons.php" TARGET="popup"
onclick="window.open('','popup','width=400,height=340,left=300,top=200,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,status=no')"><IMG
SRC="./horoscope/poissons.gif" ALT="{L_PISCES}" title="{L_PISCES}" WIDTH=28 HEIGHT=26 ></A>
</tr>
</table>
</ul>
<span class="corners-bottom"><span></span></span>
</div>
</div>