<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">

				<dl>
					<dt>Geoloc</dt>
				</dl>

		</ul>

<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
  <tr>
    <td bgcolor="#042550" align="center" bordercolor="#FFFF00">
	<script language="JavaScript" src="./compteur_geoloc/geoloc.php" ></script><noscript><a href='http://www.geo-loc.com'>GEOLOC</a></noscript>
</td>
</tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>