<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt>{RECENT_TOPICS_TITRE}</dt>
				</dl>
		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">
<table class="tablebg" width="100%" cellpadding="2" cellspacing="2" border="0" >
	<tr>
	</tr>
<!-- BEGIN static -->	
	<tr>
	<td valign="middle" align="left" ><b>{L_RECENT_SUJET}</b></td>
	<td valign="middle" align="left" ><b>{L_RECENT_VU}</b></td>
	<td valign="middle" align="left" ><b>{L_RECENT_REP}</b></td>		
	<td valign="middle" align="center" ><b>{L_RECENT_AUTEUR}</b></td>		
	<td valign="middle" align="center" ><b>#</b></td>
	<td valign="middle" align="center" ><b>#</b></td>				
	</tr>	
<!-- END static -->			
<!-- BEGIN config_scroll -->
	<tr>
	<td  align="left" class="row2">								
									<marquee id="recent_topics" behavior="scroll" direction="up" height="200" scrolldelay="100" scrollamount="2" loop='infinite' onmouseover='this.stop()' onmouseout='this.start()' >
									<br /><br />
									<!-- BEGIN recent_topic_row -->
		<!-- IF config_scroll.recent_topic_row.FLAG -->
		<img src="./images/flags/{config_scroll.recent_topic_row.FLAG}.gif" border="0" width="15" alt="{config_scroll.recent_topic_row.FLAG}">&nbsp;
		<!-- ENDIF -->									
		<img src="./images/portal/{config_scroll.recent_topic_row.IMG_USER}" />&nbsp;
		<a href="{config_scroll.recent_topic_row.U_POSTER}">&nbsp;
		<font color="#{static.recent_topic_row.S_COLOR}">{static.recent_topic_row.S_POSTER}</font></span></a>		
		<a href="{config_scroll.recent_topic_row.U_TITLE}" ><b>{config_scroll.recent_topic_row.L_TITLE}</b></a>&nbsp;
		le {scroll.recent_topic_row.S_POSTTIME}<br /><br />
		<!-- END recent_topic_row -->
		...<br /><br /><br /><br /><br /><br /><br /></td>
		</marquee>
<!-- END config_scroll -->
<!-- BEGIN static -->
	<!-- BEGIN recent_topic_row -->	
	<tr class="<!-- IF recent_topic_row.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">	
		<span class="lastpost">
		<td valign="middle" align="left" class="row1"><span class="topics">
		<a href="{static.recent_topic_row.U_TITLE}" class="forumtitle">	{static.recent_topic_row.L_TITLE}</a>
		<br>Poster le : {static.recent_topic_row.S_POSTTIME}</td>
		<td valign="middle" align="center">{static.recent_topic_row.TOTAL_VIEWS}</a></td>
		<td valign="middle" align="center">{static.recent_topic_row.TOTAL_REPLIES}</a></td>	
		<td valign="middle" align="left"><img src="./images/portal/{static.recent_topic_row.IMG_USER}" />&nbsp;
		<a href="{static.recent_topic_row.U_POSTER}">
		<b><font color="#{static.recent_topic_row.S_COLOR}">{static.recent_topic_row.S_POSTER}</font></b></a></td>
		<td valign="middle" align="center">
		<!-- IF static.recent_topic_row.URL -->
		<a target="_blank" href="{static.recent_topic_row.URL}"><img border="0" src="./images/portal/web.gif" width="16" height="16"></a>
		<!-- ENDIF -->
		</td>		
		<td valign="middle" align="left">
		<!-- IF static.recent_topic_row.FLAG -->
		<img src="./images/flags/{static.recent_topic_row.FLAG}.gif" border="0" width="15" alt="{static.recent_topic_row.FLAG}"></center>
		<!-- ENDIF -->
		</td>
	</tr>
	<!-- END recent_topic_row -->
<!-- END static -->		
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
