<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="chkClpbMonitoring.Text" value="Surveille Presse papiers"/>
		<add key="tpUniverses.Text" value="Universes"/>
		<add key="tpConfig.ToolTip" value=""/>
		<add key="lblTitle.Text" value="No Database Selected"/>
		<add key="btnBrowseExport.Text" value="Browse"/>
		<add key="btnExportFile.Text" value="Export "/>
	</appSettings>
</configuration>
