#buttons
{
	background-image:url(images/buttons.gif);
	background-repeat:repeat-x;
	height:25px;
	margin:0;
	padding-left:0;
	width:100%
}

#buttons li
{
	color:#FFF;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-variant:small-caps;
	margin:5px 15px 0;
	padding:0
}

#buttons li a
{
	color:#FFF;
	float:left;
	text-decoration:none
}

#buttons li a:HOVER,#buttons li a:ACTIVE
{
	border-bottom:2px solid #4F91B3
}

#buttons li a:LINK,#buttons li a:VISITED
{
	color:#FFF
}

#buttons ul
{
	float:left;
	list-style:none;
	margin:0;
	padding:0
}

#copy
{
	color:#FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px
}

#copy a,.admin_menu a:LINK,.admin_menu a:VISITED
{
	color:#FFF;
	text-decoration:none
}

#header
{
	background-color:#555;
	background-image:url(images/logo.jpg);
	background-position:center left;
	background-repeat:no-repeat;
	height:120px;
	width:100%
}

#list
{
	border: 1px solid #3CB3ED;
	height: 160px;
	width: 525px;
}

#map
{
	border: 1px solid #3CB3ED;
	height: 693px;
	width: 693px;
}

#notes
{
	background-color:#444;
	border:1px solid #4F91B3;
	color:#FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	height:150px;
	overflow:scroll;
	padding-left:5px;
	padding-top:5px;
	width:98%
}

#output_table
{
	background-color:#555;
	margin-bottom:30px;
	margin-top:30px
}

#output_table td.label
{
	background-color:#555;
	background-image:url(table/bg.gif);
	background-repeat:repeat-x;
	color:#DDD;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:700;
	height:36px;
	padding:2px
}

#output_table td.label a
{
	color:#DDD;
	text-decoration:none
}

#output_table .name
{
	background-image:url(table/ball.gif);
	background-position:center left;
	background-repeat:no-repeat;
	color:#4F91B3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:700;
	height:25px;
	padding-left:30px
}

#output_table .spacer
{
	background-image:url(table/spacer.gif);
	background-position:center;
	background-repeat:no-repeat;
	width:5px
}

.admin_menu
{
	color:#FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px
}

.admin_menu a:HOVER,.admin_menu a:ACTIVE
{
	color:#FFF;
	text-decoration:underline
}

.bl
{
	background-image:url(table/bl.jpg);
	background-repeat:no-repeat;
	height:20px;
	width:10px
}

.bottom
{
	background-image:url(table/bottom.jpg);
	background-repeat:repeat-x;
	height:20px
}

.br
{
	background-image:url(table/br.jpg);
	background-repeat:no-repeat;
	height:20px;
	width:10px
}

span.label
{
	color:#DDD;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-variant:small-caps;
	font-weight:700
}

.left
{
	background-image:url(table/left.jpg);
	background-repeat:repeat-y;
	width:10px
}

.order_row1,.order_row2
{
	border-bottom:1px solid #4F91B3;
	border-top:1px solid #4F91B3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:2px
}

.right
{
	background-image:url(table/right.jpg);
	background-repeat:repeat-y;
	width:10px
}

.row1,.order_row1
{
	background-color:#BBB
}

.row1,.row2
{
	border-bottom:1px solid #555;
	border-top:1px solid #555;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:2px
}

.row2,.order_row2
{
	background-color:#999
}

.tl
{
	background-image:url(table/tl.jpg);
	background-repeat:no-repeat;
	height:10px;
	width:10px
}

.top
{
	background-image:url(table/top.jpg);
	background-repeat:repeat-x;
	height:10px
}

.tr
{
	background-image:url(table/tr.jpg);
	background-repeat:no-repeat;
	height:10px;
	width:10px
}

a.name_links:HOVER,a.name_links:ACTIVE
{
	text-decoration:underline
}

a.name_links:LINK,a.name_links:VISITED
{
	color:#000;
	text-decoration:none
}

body,html,#container
{
	height:100%
}

body,html,form,div
{
	margin:0;
	padding:0
}