<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">

				<dl>
					<dt>{L_RANKS}</dt>
				</dl>

		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
<td class="cat"></td>
  <tr>					
	<!-- BEGIN ranks -->
		<td style="text-align: center; height: 25px;">
		{ranks.RANK_TITLE}<br>
		<!-- IF ranks.S_RANK_IMAGE -->
		<img src="{ranks.RANK_IMAGE}" alt="{ranks.RANK_TITLE}" title="{ranks.RANK_TITLE}" />
		<!-- ELSE -->
		<!-- ENDIF -->
		<br></td>
		
	</tr>
	<!-- END ranks -->
</td>
</tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
