<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt>{L_PARTENAIRES}</dt>
				</dl>
		</ul>
		<ul class="topiclist forums">
			<li>
<table class="tablebg" width="100%" cellpadding="2" cellspacing="2" border="0" >
	<!-- BEGIN partenaires -->
  	<tr class="<!-- IF partenaires.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">	
	<td align="center">
	<a target="_blank" href="{partenaires.PARTENAIRES_URL}"><img border="0" src="./{partenaires.PARTENAIRES_IMG}" ></a>
	</span>
	</td>
	<td align="center">
	<img border="0" src="./{partenaires.PARTENAIRES_FLAG}" ></a>
	</span>
	</td>	
    </tr>
	<!-- END partenaires --> 
  </tr> 
</table>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
