<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt>Néocounter</dt>
				</dl>
		</ul>
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
  <tr>
    <td class="bg2" align="center">		           
Vous devez être inscrit
chez néocounter pour
pouvoir l’afficher dans
ce bloc.
Attention ce service
est payant.
Pour plus d’infos:
<a target="_blank" href="http://neocounter.neoworx-blog-tools.net">
<img border="0" src="http://sjpphpbb.net/phpbb3/images/logo_sites/neo.gif"></a>
</td>
</tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>