<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">

				<dl>
					<dt>{L_FORUM_CATEGORIES}</dt>
				</dl>

		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
<td class="cat"></td>
  <tr>
    <td >

			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">
				<td>
					<table class="" cellspacing="1" width="100%">
						<!-- section 0 -->						
						<!-- BEGIN forumrow -->
						<!-- IF forumrow.S_IS_CAT -->
						<h5><a href="{forumrow.U_VIEWFORUM}"><font color="{forumrow.FORUM_NAME_COLOR}"><center>&#8226;&nbsp;{forumrow.FORUM_NAME}&nbsp;&#8226;</center></font></a></h5>
						<!-- ELSEIF forumrow.S_IS_LINK -->
						<span class="genmed2"><a href="{forumrow.U_VIEWFORUM}"><font color="{forumrow.FORUM_NAME_COLOR}">{forumrow.FORUM_NAME}</a></span>
						<!-- ELSE -->
						<span class="genmed2"><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></span>		<br>
						<!-- ENDIF -->
						<!-- END forumrow -->
					</table>
				</td>
			</table>
		</td>
	</tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>