<br />
<div class="forabg"> 
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">

				<dl>
					<dt>{L_CINE}</dt>
				</dl>

		</ul>

<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
<td class="cat"></td>
  <tr>
    <td bgcolor="#FFCC00" align="center" bordercolor="#FFFF00">		           
	<A HREF ="cine.php" TARGET="popup" onclick="window.open('','popup','width=490,height=580,left=100,top=10,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,status=no')">{L_CINE_EXPLAIN}</A><br>{L_CINE_EXPLAIN2}
<SCRIPT language="JavaScript" src="http://www.allocine.fr/js/recherche_allocine2.js"></SCRIPT>
</td>
</tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>