
<br>
<div class="navbar">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<ul class="linklist"><center>
	<a href="http://sjpphpbb.net/phpbb3" target="phpbb3"> 
	SJPPHPBB Portal(SjpPortal-phpBB3)</a>  &copy; 2005 - 2007 <a href="mailto:sjpphpbb@clubinternet.fr" target="_blank">Sjpphpbb</a><br />
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF --></center>
	</div>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<br>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->