<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt>{L_SEARCH}</dt>
				</dl>
		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd>
<table class="box" width="100%" cellpadding="5" cellspacing="0" border="0">
		<td >
    <form name="gs" action="http://www.google.com/search" method="get" target="blanck">
    <form>
    <div align="center">
      <input type="hidden" value="50" name="num">
      <input type="hidden" value="en" name="hl">
      <div align="center">
        <input maxLength="256" size="25" name="q">
        <input type="submit" value="{L_SEARCH}" name="btnG"></div>
      <div align="left">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td >
            <input type="radio" CHECKED value="site=search" name="meta">&nbsp;			
			<img border="0" src="images/google/recherche_web.gif" width="20" height="16">
			<span class="gensmall">&nbsp;{L_WEB}</span></td>
          </tr>
          <tr>
            <td >
            <input id=cty type=radio name=meta value="cr=countryFR" >&nbsp;			
			<img border="0" src="images/google/france.gif" width="20" height="16">
			<label for=cty><span class="gensmall">&nbsp;{L_FRANCE}</label></span></td>
          </tr>
          <tr>
            <td >
            <input type="radio" value="site=images" name="meta">&nbsp;			
			<img border="0" src="images/google/recherche_image.gif" width="20" height="16">
			<span class="gensmall">&nbsp;{L_IMAGES}</span></td>
          </tr>
          <tr>
            <td >
            <input type="radio" value="site=groups" name="meta">&nbsp;			
			<img border="0" src="images/google/recherche_groupe.gif" width="20" height="16">
			<span class="gensmall">&nbsp;{L_GROUPS}</span></td>
          </tr>
          <tr>
            <td >
            <input type="radio" value="site=catalogs" name="meta">&nbsp;			
			<img border="0" src="images/google/recherche_catalogue.gif" width="20" height="16">
			<span class="gensmall">&nbsp;{L_CATALOGUES}</span></td>
          </tr>
          <tr>
            <td >
            <input type="radio" value="site=news" name="meta">&nbsp;			
			<img border="0" src="images/google/recherche_news.gif" width="20" height="16">&nbsp;
			<span class="gensmall">&nbsp;{L_NEWS}</form></span>
			</td>
          </tr>
        </table>
    </div>
    </span>	
		</td>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>