<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">

				<dl>
					<dt>{L_FIL_INFOS}</dt>
				</dl>

		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
<td class="cat"></td>
  <tr>
    <td class="row2">		           
	<applet codebase="http://aujourdhui.today.free.fr/" code="aTicker.class" width=100% height=24 mayscript>
    <param name="cabbase" value="aticker.cab" />
    <param name="speed" value="1" />
    <param name="delay" value="20" />
    <param name="bgcolor" value="33221110" />
    <param name="Font1" value="Verdana, 14, 1, 0" />
    <param name="Font2" value="Verdana, 14, 1, 1220" />
  </applet>
</td>
</tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>