<br>
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">

				<dl>
					<dt>{MESS_BOARD_TITRE}</dt>
				</dl>

		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
  <tr>
    <td class="cat"><h4></h4></td>
  </tr>
  <tr>

          <tr>
	<td class="row1" align="center"><span class="gen">{MESS-ACCUEIL}</span>
	</td>
         </tr>

  </tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>