<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{L_RADIO}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>
<a href="#" onClick="window.open('http://sjpphpbb.net/phpbb3/player/index.php','radio','toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menuBar=0,width=470,height=390');return(false)"><span class="gensmall"><img border="0" src="images/portal/radio.gif"></a><br><a href="#" onClick="window.open('http://sjpphpbb.net/phpbb3/player/index.php','radio','toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menuBar=0,width=470,height=390');return(false)"><span class="gensmall">{L_PLAY}</a>
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table>
 