<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{L_IP_HOST_TITRE}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
            <td width="50%" class="row1"><center><span class="genmed2"><b>{L_ADRESS_IP}</b>
		</br>{IP}</span></center></td>
            <td width="50%" class="row2"><center><span class="genmed2"><b>{L_ADRESS_HOST}</b>
		</br>{HOST}</span></center></td>
					</td>
				</tr>					
			</table>
		</td>
</table>