<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{L_FIL_INFOS}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
					<center>
	<applet codebase="http://aujourdhui.today.free.fr/" code="aTicker.class" width=100% height=14 mayscript>
    <param name="cabbase" value="aticker.cab" />
    <param name="speed" value="1" />
    <param name="delay" value="20" />
    <param name="bgcolor" value="33221110" />
    <param name="Font1" value="Verdana, 10, 0, 0" />
    <param name="Font2" value="Verdana, 10, 0, 1220" />
  </applet>
					</center>
					</td>
				</tr>					
			</table>
		</td>
</table> 