<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{ATTACH_TITRE}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="2" cellpadding="0" border="0" align="center" class="row1">				
				<tr>
					<td>
					<center>
	<tr>
    <td align="left" nowrap="nowrap"><span class="gensmall"><strong>{L_TOP_FILENAME}</strong></span></td>
    <td align="center" nowrap="nowrap"><span class="gensmall"><strong>{L_TOP_DATE}</strong></span></td>	
    <td align="center" nowrap="nowrap"><span class="gensmall"><strong>{L_TOP_FILESIZE}</strong></span></td>
    <td align="center" nowrap="nowrap"><span class="gensmall"><strong>{L_TOP_COUNT}</strong></span></td>	
  </tr>
  <!-- BEGIN attach -->
  <!-- IF attach.S_ROW_COUNT is even -->
  <tr class="row2">
    <!-- ELSE -->
  <tr class="row1">
    <!-- ENDIF -->
    <td class="genmed2" align="left" valign="middle"><img src="images/portal/icon_topic_attach.gif" />&nbsp;
	<a href="{attach.U_FILE}" target="_blank">{attach.REAL_FILENAME}</a></td>
    <td class="genmed2" align="center" nowrap="nowrap" valign="middle">{attach.ATTACH_DATE}</td>	
    <td class="genmed2" align="center" nowrap="nowrap" valign="middle">{attach.FILESIZE}</td>
    <td class="genmed2" align="center" nowrap="nowrap" valign="middle">{attach.ATTACH_COUNT}&nbsp;{L_TOP_X}</td>
  <!-- END attach -->
					</td>
				</tr>					
			</table>
		</td>
</table>
