<br />
<table class="tablebg" width="100%" cellspacing="1">
<th class="cat_block" width="100%">{RECENT_LAST_BOT_TITRE}</th>
	<tr align="left">
		<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="row2">				
				<tr>
					<td>
	<!-- BEGIN bots_recent -->	
		<p align="left">	
		<span class="genmed2">{static.bots_recent.BOT_NAME}</span>
		<br />
		<span class="genmed2">{static.bots_recent.BOTS_RECENT_VISIT_DATE}</span>
			<br />		
	<!-- END bots_recent -->		
					</td>
				</tr>					
			</table>
		</td>
</table>  