<br />
<table class="tablebg" width="100%" cellspacing="1">
  <tr>
    <td class="row2">
<center>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>
<div id="wrapfooter">
	<span class="copyright"><a href="http://sjpphpbb.net/phpbb3" target="phpbb3"> SJPPHPBB Portal (SjpPortal-phpBB3)</a>  &copy; 2005 - 2007 <a href="mailto:sjpphpbb@clubinternet.fr" target="_blank">Sjpphpbb</a><br />
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>
		</td>
</table>    
<br>