.MYtout { font-size:10px; background-color:#93b5db; font-family:Verdana; width:600px; border:3px outset #93b5db; } /* Style qui defini la structure du chat */
.MSli { list-style-type:none; margin:2px; background-image:url('skin/skin_ms2/fond.png'); background-position:50%; padding:0; border:3px inset #93b5db; } /* Style cellule du chat */ 
.MStitre { font-size:13px; font-weight:bold; color:#ffffff; text-align:center; } /* Taille du titre du chat */ 
.MStxtAutre { font-size:10px; color:#000000; } /* autres textes */ 
.MSpseudo { font-size:10px; color:grey; font-weight:bold; } /* Pseudos normaux */ 
.MSmodo { font-size:10px; color:orange; font-weight:bold; } /* Pseudo Moderateur */ 
.MStexte { font-size:10px; color:#000000; } /* Texte du chat */ 
.MSdate { font-size:8px; color:#888888; } /* Style des dates */ 
.My_Tail { font-size:10px; } /* Style du texte en pied du chat */ 
.My_Root { font-size:10px; color:#ff0000; font-weight:bold; } /* Pseudos administrateur */ 
.My_altern1 { padding:2px; } /* Couleur qui alterne n 1*/ 
.My_altern2 { padding:2px; } /* Couleur qui alterne n 2*/ 
#count big { color:red; } /* Quand on ecrit, le pseudo change de couleur, ceci change la couleur. */ 
.My_historique { font-size:10px; font-family:Verdana; color:#333333; } /* Taille du texte historique */ 
#popupAddressbook { display:none; position:absolute; left:160px; top:10px; width:350px; height:355px; background-color:#93b5db; border:3px outset #93b5db; } /* !! Les CSS qui suivent sont a modifier que si vous savez ce que vous faite !! */ 
.barre { text-align:right; background-color:#93b5db; height:1.4em; }  
.barre a { font-size:0.9em; font-weight:bold; color:#ffffff; padding:0; text-decoration:none; border:black outset 1px; }  
#pop_titre { float:left; font-weight:bold; color:#ffffff; }  
#pop { height:320px; border:3px inset #93b5db; overflow:auto; background-image:url('skin/skin_ms2/fond.png'); background-position:50%; margin:2px; }  
#pop table { background-color:transparent; }  
#contextMenu { position:absolute; left:0; top:0; padding:5px; z-index:2; background-color:#93b5db; width:130px; visibility:hidden; border:3px outset #93b5db; }  
#slct_ip { font-size:0.6em; }  
#contextMenu a { text-decoration:none; color:#000000; font-size:0.8em; }  
#contextMenu a div { width:125px; cursor:default; }  
#contextMenu a div img { border:none; }  
#contextMenu a:hover div { color:#000000; background-image:url('skin/skin_ms2/fond.png'); }  
.My_basduchat { padding:2px; text-align:center; } /* Style qui defini le bas du chat */
.go { border:outset #93b5db 1px; cursor:pointer;}
.go:active {border:inset #93b5db 1px;}
.petit_boutton { display:inline; background-color:#93b5db; border:outset #93b5db; padding:1px; font-family:monospace; font-size:1em; }
#chr_b { background-image:url('skin/skin_ms2/bold.gif'); background-position:60% 50%; background-repeat:no-repeat; } /* background-position: horisontal(%) vertical(%)*/ 
#chr_i { background-image:url('skin/skin_ms2/italic.gif'); background-position:60% 50%; background-repeat:no-repeat; } /* background-position: horisontal(%) vertical(%)*/ 
#chr_s { background-image:url('skin/skin_ms2/strike.gif'); background-position:0% 50%; background-repeat:no-repeat; } /* background-position: horisontal(%) vertical(%)*/ 
#chr_u { background-image:url('skin/skin_ms2/underline.gif'); background-position:50% 50%; background-repeat:no-repeat; } /* background-position: horisontal(%) vertical(%)*/ 
#chr_sup { background-image:url('skin/skin_ms2/super.gif'); background-position:55% 50%; background-repeat:no-repeat; } /* background-position: horisontal(%) vertical(%)*/ 
#chr_big { background-image:url('skin/skin_ms2/big.gif'); background-position:55% 50%; background-repeat:no-repeat; } /* background-position: horisontal(%) vertical(%)*/ 
#chr_small { background-image:url('skin/skin_ms2/small.gif'); background-position:55% 50%; background-repeat:no-repeat; } /* background-position: horisontal(%) vertical(%)*/ 
#pal { text-align:center; margin:auto; }  
#pal td { text-align:center; } /* palette de couleur */ 
#temoin { height:1em; border:0; } /* temoin de mise en forme du texte */ 
.My_basduchat input { background-image:url('skin/skin_ms2/fond.png'); background-position:50%;border-color:#93b5db; color:#000000}  
