<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">

				<dl>
					<dt>{L_CALENDRIER}</dt>
				</dl>

		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
<td class="cat"></td>
  <tr>
    <td class="row2">
<center>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=4,0,2,0" id="clock" width="180" height="180">
  <param name="movie" value="{T_THEME_PATH}/images/calendrier/calendrier.swf">
  <param name="bgcolor" value="#ECECEC">
  <param name="quality" value="high">
  <param name="allowscriptaccess" value="samedomain">
  <param name="wmode" value="transparent">
  <embed type="application/x-shockwave-flash"pluginspage="http://www.macromedia.com/go/getflashplayer" width="180
" height="180" name="clock" src="{T_THEME_PATH}/images/calendrier/calendrier.swf" bgcolor="#ECECEC" quality="high" swLiveConnect="true" allowScriptAccess="samedomain"></embed>
</object>
					</center>
					</td>
</tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>