<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt>JukeBox</dt>
				</dl>
		</ul>
		<ul class="topiclist forums">
<table class="box" width="100%" cellpadding="5" cellspacing="0" border="0" class="row2">
    <td class="row2">
	<center>
<a href="#" onClick="window.open('musique/musique.html','mp3','toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menuBar=0,width=250,height=250');return(false)"><span class="gensmall"><img border="0" src="musique/mp3/jukebox2.gif" width="105" height="30"></a>
	</center>
	</td>
	</tr>
</table>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>