<br />
<div class="forabg"> 
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt>{L_FETE}</dt>
				</dl>
				</ul>		
				<table class="tablebg" width="100%" cellpadding="2" cellspacing="2" border="0" >
				<td class="bg2"> 
				{DATE}
				<br>
				<IMG SRC="./images/portal/calendrier.gif" ALT="Fête du Jour">&nbsp;{L_FETE2}&nbsp;{FETE}	
				</center>
				</td>
				</tr>					
				</table>
				</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>  