<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">
				<dl>
					<dt>Php Infos</dt>
				</dl>
		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">		
	<p align="left"><span class="gensmall">
		{L_OS_INFO}: <br>&nbsp;&#8226;&nbsp;<b>{OS_INFO}</b><br>
		{L_WEBSERVER_INFO}: <br>&nbsp;&#8226;&nbsp;<b>{WEBSERVER_INFO}</b><br>
		{L_PHP_INFO}:<br>&nbsp;&#8226;&nbsp;<b>{PHP_INFO}</b><br>
		{L_DATABASE_SERVER_INFO}:<br>&nbsp;&#8226;&nbsp;<b>{DATABASE_INFO}</b><br>
		{L_GZIP_COMPRESSION}:<br>&nbsp;&#8226;&nbsp;<b>{GZIP_COMPRESSION}</b></span>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>