<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="block">

				<dl>
					<dt>{L_BIRTHDAYS}</dt>
				</dl>

		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
					<dd class="posts_portal">
<table class="tablebg" width="100%" cellpadding="0" cellspacing="0" border="0" >
<td class="cat"><div align="left"></div></td>
	<tr>
		<td >
			<table class="forumline" border="0" cellpadding="0" cellspacing="1" width="100%">
				<tr>
					<td class="row1" align="center" valign="middle">
					<!-- IF BIRTHDAY_LIST -->
					<img src="./images/portal/birthday.gif" alt="{L_BIRTHDAYS}" />
					&nbsp;&nbsp;
					{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b>
					<!-- ELSE -->
					{L_NO_BIRTHDAYS}
					<!-- ENDIF -->	
					</td>
				</tr>
			</table>				
		</td>
	</tr>
</table>
					</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>